* {
	box-sizing: border-box;
}


body {
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

.container {
	width: 80%;
	padding: 10px 10px;
	margin: 0 auto;
	overflow: hidden;
	max-width: 920px;
}

.container::before,
.container::after {
  display: table;
  content: '';
}

.col-3 {
	float: left;
	width: 30%;
	text-align: center;
	padding: 10px;
	margin: 10px;
}


/* GLOBAL */
header {
	background: #434440;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #7d8500 3px solid;
	font-size: 24px;
	font: 26px/1.5 Arial, Helvetica, sans-serif;
}


ul {
	margin: 0;
	padding: 0;
}

/* HEADER */

header a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li {
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding {
	float: left;
}

header #branding h1 {
	margin: 0;
}

header nav {
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a {
	color:#c2d801;
	font-weight: bold;
}

header a:hover {
	color: #cccccc;
	font-weight: bold;
}

/* Showcase */

#showcase {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://i.imgur.com/J0PN6Rk.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: #7d8500 3px solid;
	color: #ffffff;

}

#showcase h1 {
	font-size: 34px;
	font-family: 'Chivo', sans-serif;
}

#showcase p {
	font-size: 18px;
	font-family: 'Underpass', sans-serif;
}

/* FORM STYLING */

#search-form {
	float: none;
	margin: 10px auto;
}

.reveal {
	float: left !important;
}

fieldset {
	border: none;
}

#song-search {
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

#song-search legend {
	font-family: 'Chivo', sans-serif;
	font-size: 18px;
	margin-bottom: 10px;
}

.title-search {
	padding-bottom: 10px;
}	

.title-search input{
	padding: 5px;
	height: 40px;
	width: 175px;
}

.lyric-search input {
	padding: 5px;
	height: 40px;
	width: 175px;
}

.search-button {
	height: 40px;
	width: 175px;
	background: #000000;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
	font-size: 18px;
}

.search-button:hover {
	background: #7d8500;
}

/* LYRIC / SEARCH / YOUTUBE */

#lyric-results {
	background-color: #e6ffcd;
	height: 250px;
	width: 100%;
	overflow-y: scroll;
	text-align: center;
	border-top: #7d8500 solid 2px;
	border-bottom: #7d8500 solid 2px;
}


#thumbnail img {
	width: 100%;
}


#thumbnail p {
	font-weight: bold;
	font-family: 'Underpass';
	font-size: 16px;
	background-color: #ffdb99;
	border-bottom: black solid 1px;
}


#focus-result {
	margin-top: 20px;
}

#focus-result h3 {
	color: black;
	border-radius: 25px;
	margin: 1em 0 0.5em 0;
	font-weight: normal;
	font-size: 20px;
	line-height: 40px;
	font-family: 'Chivo', sans-serif;
}

#main-col h1 {
	color:black;
	font-family: 'Chivo', sans-serif;
	font-size: 26px;
	font-weight: normal;
	text-align: center;
	border-radius: 25px;
	padding: 10px 0;
}

#main {
	padding: 70px 0px;
}

#tech-info,
#api-info {
	background: #a1a1a1;
	border-radius: 5px;
	padding: 10px 10px 10px 40px;
	margin: 10px;
	width: 500px;
}

.tech-region.wrapper {
	display: flex;
	justify-content: center;
}

#api-info ul,
#tech-info ul {
	padding-left: 10px;
}

/* CONCERT RESULTS */

#concert-results h2 {
	text-align: center;
	background: #b3b3b3;
	border-radius: 25px;
	margin: 1em 0 0.5em 0;
	font-weight: bold;
	font-size: 24px;
	line-height: 40px;
	font-family: 'Chivo', sans-serif;
}

#concert-results span {
	font-weight: bold;
}

#concert-results {   
	background-color: #f4f4f4;
	padding-bottom: 20px;
}

#concert-results .col-3 {
	border: #7d8500 solid 3px;
	background-color: #e6ffcd;
}

#concert-results p {
	text-align: left;
	font-size: 18px;
	font-family: 'Underpass', sans-serif;
}

#concert-results a {
	text-decoration: none;
}

#concert-results a:link,
#concert-results a:visited {
	color: #0931ff;
}

#concert-results a:hover {
	color: white;
}

/* SIDEBAR */

aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 10px;
}


/* MAIN COLUMN ABOUT */
article#main-col {
	float: left;
	width: 65%;
}

.dark {
	background: #54626b;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
	border-radius: 5px;
	text-align: center;
	height: 536px;
}
.dark a {
	text-decoration: none;
	color: #e4f30e;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Underpass', sans-serif;
}

.dark a:hover {
	color: rgb(255, 255, 255);
}

.dark h3 {
	font-family: 'Chivo', sans-serif;
	font-weight: normal;
	font-size: 22px;
}

.dark p {
	text-align: left;
	text-indent: 5%;
	font-family: 'Underpass', sans-serif;
}

#tech-info h3,
#api-info h3 {
	font-family: 'Chivo', sans-serif;
}

#tech-info li,
#api-info li {
	font-family: 'Underpass', sans-serif;
	padding: 10px 0px;
}
#main-col p {
	font-family: 'Underpass', sans-serif;
	line-height: 25px;
}

#main li {
	margin-left: 10px;
}



/* FOOTER */

footer {
	 padding: 20px;
	 font-size: 16px;
	 color: #ffffff;
	 text-align: center;
	 font-family: 'Underpass', sans-serif;
	 background-color: #434440;
	 width: 100%;
	 position: static;
	 bottom: 0;
}


/* Media Queries */
@media(max-width: 1116px){
	.dark {
		height: 100%;
	}
}

@media(max-width: 1024px){
	footer {
		position: static;
	}	
}

@media(max-width: 768px){
	header #branding,
	header nav,
	header nav li,
	.col-3,
	.title-search,
	.lyric-search,
	.lyrics,
	article#main-col,
	aside#side-bar{
		float: none;
		width: 100%;
	}

.col-3{
	margin: 10px auto;
}

.reveal {
	float: none !important;
}
header {
	padding-bottom: 20px;
	font-size: 18px;
}

#showcase h1 {
	margin-top: 10px;
	font-size: 24px;
}



#showcase .container {
	padding-top: 50px;
}

aside#sidebar {
	width: 100%;
}

footer {
	position: static;
}



}